@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');

body {
  background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 20vh;
  letter-spacing: 1vw;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  position: absolute;
  color: white;
  background: url(./4863446.jpg);
  background-size: auto 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}

h2 {
  color: white;
  position: absolute;
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white
}

div.contact {
  position: absolute;
  top: 60vh;
  left: 55%;
}

div.footer {
  position: absolute;
  top: 90vh;
  width: 100%;
  text-align: center;
}

p.footer-text {
  color: #2b4955;
}

@media (min-width: 1200px) { 
  h1 {
    font-size: 20vh;
    letter-spacing: 1vw;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
  }
  h2 {
    font-size: 2vh;
    top: 46vh;
    left: 50%;
  }
  
 }

@media (min-width: 992px) and (max-width: 1199.98px){ 
  h1 {
    font-size: 15vh;
    letter-spacing: 1vw;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
  }
  h2 {
    font-size: 2vh;
    top: 46vh;
    left: 35%;
  }
 }
 
 @media (min-width: 768px) and (max-width: 991.98px){ 
  h1 {
    font-size: 10vh;
    letter-spacing: 1vw;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
  }
  h2 {
    font-size: 2vh;
    top: 46vh;
    left: 12%;
  }
 }

 @media (min-width: 576px) and (max-width: 767.98px) { 
  h1 {
    font-size: 8vh;
    letter-spacing: 1vw;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
  }
  h2 {
    font-size: 2vh;
    top: 46vh;
  }
 } 

 @media (max-width: 575.98px) { 
  h1 {
    font-size: 6vh;
    letter-spacing: 1vw;
    top: 25vh;
    left: 8%;
    transform: translateY(-50%);
  }
  h2 {
    font-size: 2.5vh;
    top: 40vh;
    left: 8%;
  }
  div.contact {
    left: 8%;
  }
 } 